{% extends 'people/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h1>{{ title }}</h1><br>
    <div class="about-me">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;На примере этого сайта, я хочу показать как относительно легко можно работать
        с фреймворком Django. Этот сайт - это пример того, как можно легко и просто создавать взаимосвязи между
        отдельными HTML-страницами и базой данных. Здесь можно просматривать статьи по категориям, также если
        зарегистрироваться можно создавать эти статьи, оставлять под ними комментарии, просматривать пользователей,
        а также редактировать свой профиль</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Сайт предполагает знание следующих тем:</p>
        <ul class="about-list">
            <li>Обработка запросов</li>
            <li>Работа с функциями и классами представлений</li>
            <li>Создание моделей для БД и форм</li>
            <li>Основы ORM Django</li>
            <li>Работа с шаблонами</li>
            <li>Подключение статический файлов</li>
            <li>Формирование URL-адресов</li>
            <li>Создание связей между моделями</li>
            <li>Работа и настройка admin-панели</li>
            <li>Работа с Mixins</li>
            <li>Пагинация</li>
            <li>Регистрация</li>
            <li>Авторизация</li>
            <li>Подключение captcha</li>
            <li>Кэширование страниц</li>
            <li>Оптимизация сайта с Debug tool</li>
        </ul>
        <p>Способы связаться со мной:</p>
        <ul>
            <li><i class="fa-solid fa-phone"></i> +375 33 671 9400</li>
            <li><i class="fa-solid fa-envelope"></i> sanja081107@gmail.com</li>
            <li><i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/%D1%81%D0%B0%D1%88%D0%B0-%D0%BC%D0%B8%D1%81%D1%8E%D1%82%D0%B0-637623231/"> Linkedin</a></li>
            <li><i class="fa-brands fa-telegram"></i><a href="https://t.me/Alexander_Misyuta"> Telegram</a></li>
        </ul>
    </div>
{% endblock %}