{% if is_selected == 0 %}
    <p><i class="fas fa-globe-americas"></i> Все люди</p>
{% else %}
    <p><i class="fas fa-globe-americas"></i><a href="{% url 'main' %}"> Все люди</a></p>
{% endif %}
<ul>
{% for el in cats %}
    {% if el.people__count > 0 %}
        {% if el.pk == is_selected %}
            <li>{{ el.get_html_logo }} {{ el.name }}</li>
        {% else %}
            <li>{{ el.get_html_logo }}<a href="{{ el.get_absolute_url }}"> {{ el.name }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>

