{% extends 'people/base.html' %}

{% block title %}
    {{title}}
{% endblock %}


{% block main %}

    <h1>{{title}}</h1><br>
    <form method="post">
        {% csrf_token %}

        <div>{{ form.non_field_errors }}</div>  <!-- Выдается общая ошибка по всем полям если форма не связана с моделью -->

        <div class="add-post">
            {% for el in form %}
            <p><label for="{{el.id_for_label}}">{{ el.label }}:</label>{{ el }}</p>
            <div class="form-error">{{ el.errors }}</div>   <!-- Выдается ошибка по отдельному полю формы -->
            {% endfor %}
        </div>
        <button type="submit">Войти</button>
    </form>

{% endblock %}
