{% extends 'people/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
<h1>People detail page</h1>
<p>{{ el.title }}</p>
<div class="content">
    {% if el.photo %}
        <img id="photo" src="{{ el.photo.url }}" width="25%" align="left">
    {% endif %}
    {{ el.content }}
</div>

<form method="post">
    {% csrf_token %}
    <div class="add-post">
        <p>{{ form.context }}</p>
    </div>
    <button type="submit">Leave comment</button>
</form><br>
{% for el in comments %}
    <div class="comment-people">
        <p>Comment from {{ el.author }}: {{ el.context }}</p>
        {% if request.user == el.author %}
            <a href="{% url 'delete_comment' el.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}