{% extends 'people/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
<h1>{{ el.title }}</h1><br>

{% if request.user == el.author %}
    <a href="{% url 'delete_people' el.pk %}" class="btn btn-danger">Delete</a>
{% endif %}

<!--<p>{{ favorites_len }}</p>-->
<!--<p>{{ favorites }}</p>-->

{% if request.user.is_authenticated %}
    {% if el not in favorites %}
        <form method="post" action="{% url 'favorite' el.pk %}">
            {% csrf_token %}
            {{ favorite_form }}
            <br><button class="btn btn-success" type="submit">My favorite</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'not_favorite' el.pk %}">
            {% csrf_token %}
            {{ favorite_form }}
            <br><button class="btn btn-danger" type="submit">Not favorite</button>
        </form>
    {% endif %}
{% endif %}


<div class="content">

    {% if el.photo %}
        <br><img id="photo" src="{{ el.photo.url }}" width="30%" align="left">
    {% endif %}


    {% if el.content %}
        <h4>Кратко о {{ title }}:</h4>
        <div class="people-context">
            <p>{{ el.content|linebreaks }}</p>
        </div>
    {% else %}
        <p>Нет информации о контенте</p>
    {% endif %}

</div>

{% if request.user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <div class="add-post">
        <p>{{ form.context }}</p>
    </div>
    <button type="submit">Leave comment</button>
</form><br>

{% for el in comments %}
    <div class="comment-people">
        <p>Comment from <a href="{{ el.author.get_absolute_url }}">{{ el.author }}</a>: {{ el.context }}</p>
        {% if request.user == el.author %}
            <a href="{% url 'delete_comment' el.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
{% endfor %}
{% endif %}

{% endblock %}